@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

/*그리드 시스템 설정*/
.container {
    width: 100%; /*모바일과 태블릿의 크기는 가변적*/
    max-width: 1024px; /*pc크기*/
    margin: 0 auto;
}


/**============header=============**/

.mainmenu {
    background-color: black;
}

.header-box {

    height: 500px;
    overflow: hidden;
}

.mainmenu img {
    width: 100%;
}


.gnb {
    display: flex;
    height: 80px;
    align-items: center;
}

.gnb a {
    color: white;
    width: 100px;
}



/*-===============way_to_come============*/
.flex-box {
    display: flex;
}

.container > h2 {
    margin-bottom: 30px;
}


.flex-box img {
    margin-right: 40px;
}


.intro {
    background-color: bisque;
    padding: 50px;
}

.come {
    background-color: ghostwhite;
    padding: 50px;
}

.recommend {
    background-color: bisque;
    padding: 50px;
}

.recommend h3 {
    margin-bottom: 15px;
}


.ice img {
    border-radius: 100%;
}

/*-===============footer============*/
footer {
    background: black;
    height: 80px;
}
footer p {
    text-align: center;
    color: white;
    font-family: 'Yeon Sung';
    
}