@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 10px '맑은 고딕';
}

ul,
ol,
li {
    list-style: none;
}

img,
input,
textarea,
button,
select {
    vertical-align: middle;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
    font-weight: normal;
}

h3 {
    font-size: 18px;
    font-weight: normal;
}


p {
    font-size: 18px;
    line-height: 1.4;
}

a {
    font-size: 13px;
    display: inline-block;
    text-decoration: none;
    color: black;
}

strong {
    font-size: 15px;
    display: block;
}

address {
    font-style: normal;
}

div,
header,
main,
aside,
footer,
address {
    display: block;
}